# Default ignored files
/../../../:JavaEE_POS_App/.idea/shelf/
/../../../:JavaEE_POS_App/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:JavaEE_POS_App/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:JavaEE_POS_App/.idea/dataSources/
/../../../:JavaEE_POS_App/.idea/dataSources.local.xml
